<ion-view title="About" id="page9" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="about-list20" class=" ">
            <ion-item class="item-divider " id="about-list-item-divider1">App Information</ion-item>
        </ion-list>
        <div class="item item-body " id="about-list-item-container21">
            <p id="about-markdown36" style="margin-top:0px;color:#000000;" class=" ">App information to come</p>
        </div>
        <ion-list id="about-list21" class=" ">
            <ion-item class="item-divider " id="about-list-item-divider2">Server information</ion-item>
        </ion-list>
        <div class="item item-body " id="about-list-item-container22">
            <p id="about-markdown37" style="margin-top:0px;color:#000000;" class=" ">Server information to come</p>
        </div>
    </ion-content>
</ion-view>