<ion-view title="Apps" id="page2" style="background-color:#F5F5F5;" class=" " on-swipe-left="onSwipeLeft()">
    <ion-content padding="true" class="has-header">
        <ion-list id="apps-list4" class=" ">
            <ion-item class="item-thumbnail-left dark  " id="apps-list-item2" ui-sref="tabsController.dataEntry">
                <img src="img/WzZMtxyeS5mMneuc0tr2_icon_paper.png">
                <h2dark>Data Entry
                    <p style="white-space:normal;">default and Section forms</p>
                </h2dark>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="apps-list17" class=" ">
            <ion-item class="item-thumbnail-left  " id="apps-list-item18" ui-sref="tabsController.eventCapture">
                <img src="img/eU96pob2Tv2gRV7mTOiN_events-icon.png">
                <h2>Event Capture</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <ion-list id="apps-list5" class=" ">
            <ion-item class="item-thumbnail-left  " id="apps-list-item5" ui-sref="tabsController.trackerCapture">
                <img src="img/xIPMT3HRSOuDhniww5k6_1466942763_data.png">
                <h2>Tracker Capture</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <ion-list id="apps-list6" class=" ">
            <ion-item class="item-thumbnail-left  " id="apps-list-item7" ui-sref="tabsController.dashBoard">
                <img src="img/WMFE3v1DQ2WDiAyJdCVo_1466508105_Dashboard.png">
                <h2>Dashboard</h2>
                <p>iDashboard</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <ion-list id="apps-list7" class=" ">
            <ion-item class="item-thumbnail-left  " id="apps-list-item8" ui-sref="tabsController.reportList">
                <img src="img/gPQ8wCYpRVijoWeyi9qk_1466508234_custom-reports.png">
                <h2>Reports</h2>
                <p>Custom html reports</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>