<ion-view title="Data Entry " id="page6" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="dataEntry-list-item-container12">
            <div class="row" ng-click="organisationUnitsModal.show()" style="padding-top: 0.5%;">
                <div class="col col-100">
                    <h3>Organisation Unit</h3>
                    <p ng-if ="data.selectedOrganisationUnit.id">
                        {{ data.selectedOrganisationUnit.name }}
                    </p>
                    <p ng-if ="!data.selectedOrganisationUnit.id">
                        Touch to select Organisation Unit
                    </p>
                </div>
            </div>
            <div class="row" ng-click="dataEntryFormModal.show()" style="padding-top: 0.5%;">
                <div class="col col-100">
                    <h3>Form</h3>
                    <p ng-if ="data.selectedDataSetForm.id">
                        {{ data.selectedDataSetForm.name }}
                    </p>
                    <p ng-if ="!data.selectedDataSetForm.id">
                        Touch to select form
                    </p>
                </div>
            </div>
            <div class="row" ng-click="periodModal.show()" style="padding-top: 0.5%;">
                <div class="col col-100">
                    <h3>Period</h3>
                    <p>Touch to select period</p>
                </div>
            </div>

            <div class="spacer" style="width: 100%; height: 10px;"></div>
            <div class="item item-body " id="dataEntry-list-item-container13">
                <p id="dataEntry-markdown21" style="margin-top:0px;color:#000000;text-align:center;" class=" ">BRM_Hospotal Scoring</p>
            </div>
            <a ui-sref="tabsController.dataEntryForm" id="dataEntry-button9" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block button-outline ">Data Entry</a>
        </div>

        <div class="item item-body " ng-if = "data.isLoadingData" style="text-align: center;font-size: 14px;">
            <three-bounce-spinner></three-bounce-spinner>
        </div>
    </ion-content>
</ion-view>