<ion-view title="Data Entry Form" id="page17" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div class="item item-body " id="dataEntryForm-list-item-container9">
            <p id="dataEntryForm-markdown34" style="color:#000000;text-align:center;" class=" ">BRN_Hospital Form</p>
            <div></div>
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div class="item item-body " id="dataEntryForm-list-item-container18">
            <p id="dataEntryForm-markdown28" style="color:#000000;text-align:center;" class=" ">Data enry form field to come</p>
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div class="item item-body " id="dataEntryForm-list-item-container19">
            <p id="dataEntryForm-markdown29" style="margin-top:0px;color:#000000;" class=" "></p>
            <div id="dataEntryForm-button-bar4" class=" button-bar ">
                <button id="dataEntryForm-button18" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block button-outline ">Previous</button>
                <button id="dataEntryForm-button20" class=" button button-positive  button-block button-outline ">Next</button>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="item item-body " id="dataEntryForm-list-item-container20">
            <div id="dataEntryForm-button-bar5" class=" button-bar "></div>
            <div id="dataEntryForm-button-bar6" class=" button-bar ">
                <button id="dataEntryForm-button24" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block button-outline ">First</button>
                <button id="dataEntryForm-button26" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block button-outline ">Last</button>
            </div>
            <button id="dataEntryForm-button21" style="border-radius:5px 5px 5px 5px;" class=" button button-balanced  button-block ">Complete</button>
            <p id="dataEntryForm-markdown32" style="color:#000000;" class=" ">Compeletd by user at 2016-06-23</p>
        </div>
    </ion-content>
</ion-view>