<ion-view title="Profile" id="page7" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list22" class=" ">
            <ion-item class="item-divider " id="profile-list-item-divider3">My Profile</ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container23">
            <p id="profile-markdown42" style="color:#000000;" class=" ">User profile details</p>
        </div>
        <ion-list id="profile-list23" class=" ">
            <ion-item class="item-divider " id="profile-list-item-divider4">Assigned Organisation Units</ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container24">
            <p id="profile-markdown39" style="margin-top:0px;color:#000000;" class=" ">List of assigned orgnisation units</p>
        </div>
        <ion-list id="profile-list24" class=" ">
            <ion-item class="item-divider " id="profile-list-item-divider5">Assigned Roles</ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container25">
            <p id="profile-markdown40" style="margin-top:0px;color:#000000;" class=" ">List of user roles</p>
        </div>
        <ion-list id="profile-list25" class=" ">
            <ion-item class="item-divider " id="profile-list-item-divider6">Assigned forms</ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container26">
            <p id="profile-markdown41" style="margin-top:0px;color:#000000;" class=" ">List of assigned forms</p>
        </div>
    </ion-content>
</ion-view>