<ion-view title="Settings" id="page10" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list32" class=" ">
            <ion-item class="item-divider " id="settings-list-item-divider11">App Settings</ion-item>
            <ion-item class="item-icon-right  " id="settings-list-item38" ui-sref="tabsController.settingDetails">Synchronization
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="settings-list-item39" ui-sref="tabsController.settingDetails">Form
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="settings-list-item40" ui-sref="tabsController.settingDetails">Data Reset
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>