<ion-view title="Setting Details" id="page20" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="settingDetails-list33" class=" ">
            <ion-item class="item-divider " id="settingDetails-list-item-divider12">Form Label</ion-item>
        </ion-list>
        <div class="item item-body " id="settingDetails-list-item-container29">
            <form id="settingDetails-form5" class="list ">
                <ion-radio id="settingDetails-radio1" class=" ">By Dhis 2 Form Name</ion-radio>
                <ion-radio id="settingDetails-radio2" class=" ">By Dhis 2 Display Name</ion-radio>
            </form>
        </div>
    </ion-content>
</ion-view>