<ion-view title="Tracker Capture" id="page12" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="row">
            <div class="col col-50">
                <button class="button button-full button-positive" ng-click="trackerRegistration()">
                    Registration
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-full button-positive" ng-click="trackerReport()">
                    Reports
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>