.bar.bar-positive {
    border-color:#1D5288;
    background-color:#1D5288;
    }
    
#login-markdown3{
	font-style:italic;
}
.bar .title.title-left {
    text-align: center !important;
}
.bar .title.title-right {
    text-align: center !important; }
